client/node_modules/
client/yarn.lock
*.pyc
server/employee/migrations/0*.py
*.env
client/src/config/router/_api.tsx
server/users/migrations/0*.py
client/package-lock.json
client/src/components/pages/forgot_password/send-otp.tsx
client/src/components/pages/forgot_password/send_otp.tsx
*.sh
server/employee/forms.py
server/employee/salary.py
client/src/components/sections/allowance/data.ts
client/src/components/sections/add_employee/position.ts
client/src/components/sections/add_employee/postion_data.ts
