client/node_modules/
client/yarn.lock
*.pyc
server/employee/migrations/0*.py
*.env
client/src/config/router/_api.tsx
server/users/migrations/0*.py
client/package-lock.json
client/src/components/pages/forgot_password/send-otp.tsx
client/src/components/pages/forgot_password/send_otp.tsx
*.sh
server/employee/forms.py
server/employee/salary.py
client/src/pdf.tsx
client/src/table.tsx
client/src/components/sections/add_employee/postion_data.tsx
client/src/components/sections/salary/scr.tsx
client/src/components/sections/salary/scroll.css
client/src/components/sections/salary/scroll.tsx
client/src/components/sections/salary/table.tsx
client/src/components/sections/allowance/data.ts
client/src/pdf.tsx
client/src/components/sections/add_employee/postion_data.tsx
client/src/table.tsx
client/src/components/sections/salary/scr.tsx
client/src/components/sections/salary/scroll.tsx
client/src/components/sections/salary/scroll.css
client/src/components/sections/salary/table.tsx
client/src/components/sections/add_employee/position.ts
client/src/components/sections/add_employee/postion_data.ts
client/src/components/sections/employee-allowance/data.ts
client/src/providers/reducer.tsx
client/src/services/modal-api.tsx
client/src/providers/actions.tsx
client/src/store/modal/modal-slice.tsx
client/src/typo/modal/state.tsx
client/src/components/pages/salary/scroll.css
client/src/components/pages/salary/scr.tsx
client/src/components/pages/salary/scroll.tsx
client/src/components/pages/salary/table.tsx
